# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable angular--best-practice--snippets': 'angular--best-practice--snippets:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'angular--best-practice--snippets'
      'submenu': [
        { 'label': 'Toggle', 'command': 'angular--best-practice--snippets:toggle' }
      ]
    ]
  }
]
